@page {
    size: 8.5in 11in;
  }

body {
    line-height: 116%;
    font-family: Calibri;
    font-size: 10pt;
    margin: 0;
}

.content {
    margin-top: 0.2cm;
    margin-bottom: 2.5cm;
    margin-left: 2.1cm;
    margin-right: 2.1cm;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0pt 0pt 8pt;
}

li, table {
    margin-top: 0pt;
    margin-bottom: 8pt;
}

h1 {
    margin-top: 18pt;
    margin-bottom: 4pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    line-height: 116%;
    font-family: 'Aptos Display';
    font-size: 20pt;
    font-weight: normal;
    color: #0f4761;
}

h2 {
    margin-top: 8pt;
    margin-bottom: 4pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    line-height: 116%;
    font-family: 'Aptos Display';
    font-size: 16pt;
    font-weight: normal;
    color: #0f4761;
}

h3 {
    margin-top: 8pt;
    margin-bottom: 4pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    line-height: 116%;
    font-family: Calibri;
    font-size: 14pt;
    font-weight: normal;
    color: #0f4761;
}

h4 {
    margin-top: 4pt;
    margin-bottom: 2pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    line-height: 116%;
    font-family: Calibri;
    font-size: 10pt;
    font-weight: normal;
    font-style: italic;
    color: #0f4761;
}

h5 {
    margin-top: 4pt;
    margin-bottom: 2pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    line-height: 116%;
    font-family: Calibri;
    font-size: 10pt;
    font-weight: normal;
    color: #0f4761;
}

h6 {
    margin-top: 2pt;
    margin-bottom: 0pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    line-height: 116%;
    font-family: Calibri;
    font-size: 10pt;
    font-weight: normal;
    font-style: italic;
    color: #595959;
}

.Heading7 {
    margin-top: 2pt;
    margin-bottom: 0pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    line-height: 116%;
    font-family: Calibri;
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    color: #595959;
    -aw-style-name: heading7;
}

.Heading8 {
    margin-bottom: 0pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    line-height: 116%;
    font-family: Calibri;
    font-size: 10pt;
    font-weight: normal;
    font-style: italic;
    color: #272727;
    -aw-style-name: heading8;
}

.Heading9 {
    margin-bottom: 0pt;
    page-break-inside: avoid;
    page-break-after: avoid;
    line-height: 116%;
    font-family: Calibri;
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
    color: #272727;
    -aw-style-name: heading9;
}

.Footer {
    margin-bottom: 0pt;
    line-height: normal;
    font-family: Calibri;
    font-size: 10pt;
    -aw-style-name: footer;
}

.Header {
    margin-bottom: 0pt;
    line-height: normal;
    font-family: Calibri;
    font-size: 10pt;
    -aw-style-name: header;
}

.IntenseQuote {
    margin: 18pt 43.2pt;
    text-align: center;
    line-height: 116%;
    border-top: 0.75pt solid #0f4761;
    border-bottom: 0.75pt solid #0f4761;
    padding-top: 10pt;
    padding-bottom: 10pt;
    font-family: Calibri;
    font-size: 10pt;
    font-style: italic;
    color: #0f4761;
    -aw-border-bottom: 0.5pt single;
    -aw-border-top: 0.5pt single;
    -aw-style-name: intense-quote;
}

.ListParagraph {
    margin-left: 36pt;
    margin-bottom: 8pt;
    line-height: 116%;
    font-family: Calibri;
    font-size: 10pt;
    -aw-style-name: list-paragraph;
}

.Quote {
    margin-top: 8pt;
    margin-bottom: 8pt;
    text-align: center;
    line-height: 116%;
    font-family: Calibri;
    font-size: 10pt;
    font-style: italic;
    color: #404040;
    -aw-style-name: quote;
}

.Subtitle {
    margin-bottom: 8pt;
    line-height: 116%;
    font-family: Calibri;
    font-size: 14pt;
    letter-spacing: 0.75pt;
    color: #595959;
    -aw-style-name: subtitle;
}

.Title {
    margin-bottom: 4pt;
    line-height: normal;
    font-family: 'Aptos Display';
    font-size: 28pt;
    letter-spacing: -0.5pt;
    -aw-style-name: title;
}

span.CitaCar {
    font-style: italic;
    color: #404040;
}

span.CitadestacadaCar {
    font-style: italic;
    color: #0f4761;
}

span.Hyperlink {
    text-decoration: underline;
    color: #467886;
    -aw-style-name: hyperlink;
}

span.IntenseEmphasis {
    font-style: italic;
    color: #0f4761;
    -aw-style-name: intense-emphasis;
}

span.IntenseReference {
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 0.25pt;
    color: #0f4761;
    -aw-style-name: intense-reference;
}

span.SubttuloCar {
    font-size: 14pt;
    letter-spacing: 0.75pt;
    color: #595959;
}

span.Ttulo1Car {
    font-family: 'Aptos Display';
    font-size: 20pt;
    color: #0f4761;
}

span.Ttulo2Car {
    font-family: 'Aptos Display';
    font-size: 16pt;
    color: #0f4761;
}

span.Ttulo3Car {
    font-size: 14pt;
    color: #0f4761;
}

span.Ttulo4Car {
    font-style: italic;
    color: #0f4761;
}

span.Ttulo5Car {
    color: #0f4761;
}

span.Ttulo6Car {
    font-style: italic;
    color: #595959;
}

span.Ttulo7Car {
    color: #595959;
}

span.Ttulo8Car {
    font-style: italic;
    color: #272727;
}

span.Ttulo9Car {
    color: #272727;
}

span.TtuloCar {
    font-family: 'Aptos Display';
    font-size: 28pt;
    letter-spacing: -0.5pt;
}

span.UnresolvedMention {
    color: #605e5c;
    background-color: #e1dfdd;
    -aw-style-name: unresolved-mention;
}

.PlainTable3 {
    /* Define styles for PlainTable3 if needed */
}

.PlainTable4 {
    /* Define styles for PlainTable4 if needed */
}

.TableGrid {
    /* Define styles for TableGrid if needed */
}